{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
        <script src="https://kit.fontawesome.com/5420f5b85a.js" crossorigin="anonymous"></script>
        <meta name="description" content="">
        <meta name="author" content="Inline-6 Overnight">
        <meta name="keywords" content="2.6-litre, 2JZ-GTE, 3.0-litre, 3.2-litre, a80, auto, automobile, axle,
        balance, bank, bay, belt, best, block, bmw, body, bore, cam, camshaft, car, cast-iron, center, centre, chain,
        chassis, combustion, components, compression, configuration, connecting, control, cover, crankcase,
        crankshaft, cylinder, dead, displacement, dual, e46, ecm, ecu, eems, electronic, engine, enhancement,
        enhancer, exhaust, for, forces, front, garage, gravity, gt-r, head, header, horsepower, hp, inertia,
        inline-6, inline-six, internal, m3, maintenance, management, mechanic, minute, module, motor, nissan, oil,
        overhead, overnight, parts, per, performance, piston, primary, pump, r32, r33, r34, ratio, rb26dett, rear,
        redline, remapping, repair, revolutions, rod, rpm, s54, sale, secondary, service, shafts, skyline, slant-6,
        slant-six, software, speed, sprockets, straight-6, straight-six, stroke, supplier, supra, system, throttle,
        timing, top, torque, toyota, transmission, tuning, turbo, turbocharged, turbocharger, twin-turbo, unit,
        valve, valvetrain, vehicle, vibration, warranty, website">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
        <title>
            Inline-6 Overnight
        </title>
        <!-- Favicon -->
        <link href="{% static 'images/favicon-engine.png' %}" rel="shortcut icon" type="image/png">
    </head>
    <body>

    </body>
</html>
