{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
        <script src="https://kit.fontawesome.com/5420f5b85a.js" crossorigin="anonymous"></script>
        <meta name="description" content="Inline-6 Overnight specializes in the procurement, resale, shipment and 
        delivery of specific, brand new straight-six combustion engines. With our supplier base stretching worldwide 
        and with a supply chain that covers all locations of the globe, you can rest assured that we'll find the 
        quality engine you need at the best available price and deliver it the next business day. Over 10 years of 
        experience providing engine solutions to professional tuning shops, automobile repair businesses, garages, 
        workshops, car service specialists and private owners, and a constant first-class service that you can rely 
        on.">
        <meta name="author" content="Inline-6 Overnight">
        <meta name="keywords" content="2.6-litre, 2JZ-GTE, 3.0-litre, 3.2-litre, a80, auto, automobile, axle,
        balance, bank, bay, belt, best, block, bmw, body, bore, cam, camshaft, car, cast-iron, center, centre, chain,
        chassis, combustion, components, compression, configuration, connecting, control, cover, crankcase,
        crankshaft, cylinder, dead, displacement, dual, e46, ecm, ecu, eems, electronic, engine, enhancement,
        enhancer, exhaust, for, forces, front, garage, gravity, gt-r, head, header, horsepower, hp, inertia,
        inline-6, inline-six, internal, m3, maintenance, management, mechanic, minute, module, motor, nissan, oil,
        overhead, overnight, parts, per, performance, piston, primary, pump, r32, r33, r34, ratio, rb26dett, rear,
        redline, remapping, repair, revolutions, rod, rpm, s54, sale, secondary, service, shafts, skyline, slant-6,
        slant-six, software, speed, sprockets, straight-6, straight-six, stroke, supplier, supra, system, throttle,
        timing, top, torque, toyota, transmission, tuning, turbo, turbocharged, turbocharger, twin-turbo, unit,
        valve, valvetrain, vehicle, vibration, warranty, website">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
        <title>
            {% block title %}
                Inline-6 Overnight
            {% endblock %}
        </title>
        <!-- Favicon -->
        <link href="{% static 'images/favicon-engine.png' %}" rel="shortcut icon" type="image/png">
    </head>
    <body>
        <!-- Navbar -->
        <!-- Logo -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'store' %}">Inline-6 Overnight</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'store' %}">
                            Quality Engines | Lowest Prices | Free Next-Day Delivery 
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <li>
                        <a href="#" class="btn btn-light">Register</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-light">Log in</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle btn btn-light" href="#" id="navbarDropdown" role="button" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Admin</a>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>
                    <a href="{% url 'cart' %}">
                       <img  id="cart-icon" src="{% static 'images/cart.png' %}">
                   </a>
                   <p id="cart-total">0</p>
               </div>
            </div>
        </nav>

        <div class="container">
            {% block content %}

            {% endblock content %}
        </div>

        <!-- JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" 
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
        crossorigin="anonymous"></script>
    </body>
</html>
